
.navbar-brand {
    color: black;
    font-family: "Cinzel", serif;
    font-weight: 500;
    padding-left: 10px;
}

.Book-your-Stay {
    color: rgb(173, 151, 26);
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgb(165, 146, 35);
    transition: 0.7s background-color;
}

.Book-your-Stay:hover {
    background-color: rgb(243, 221, 95);
    color: #222f;
}

.navbar-expand-lg {
    background-color: rgb(245, 243, 242);
}

.navbar-toggler {
    border: none;
    font-size: 1rem;


}

.nav-link {
    font-weight: 600;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: black;
}

.d-block {
    width: 100vw;
    height: 100vh;
}

.btn {
    width: 13rem;
    height: 3.5rem;
}

.text-center {
    color: black;
    font-family: "Cinzel", serif;
    font-weight: 600;
}

.section-head{
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
}
.section-title {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
  font-family: "Cinzel", serif;
  color: rgb(17, 15, 6);;

  }
  .section-content {
    text-align: center;
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.8;
    padding: 0 15%;
  }

      .image-gallery img {
          width: 100%;
          height: 50vh;
          border-radius: 8px;
      }
  
      .text-section h2 {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 10px;
      }
  
      .text-section h3 {
          font-size: 1.2rem;
          text-transform: uppercase;
          color: #6c757d;
          margin-bottom: 15px;
      }
  
      .text-section p {
          font-size: 1rem;
          color: #6c757d;
          line-height: 1.8;
      }
.carousel-indicators img{
    width: 70px;
    display: block;
}
.carousel-indicators button{
    width: max-content!important;
}
.carousel-indicators{
    position: unset;
}
.w-100{
    
    height: 87vh;
}
.container-contact{
    background-color: rgb(208, 234, 234);
}
footer{
    width: 98.5vw;
    height: 30vh;
}